<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        
        {% block stylesheets %}
            {{ include('@Bootstrap4/_stylesheets.twig') }}
        {% endblock %}
    </head>
    <body>
        
        {% block body %}{% endblock %}
        
        {% block javascripts %}
            {{ include('@Bootstrap4/_javascripts.twig') }}
        {% endblock %}
    </body>
</html>
